#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

nav {
  height: 80px;
}

nav a {
  margin: 0 1em;
}

form {
  min-width: 50%;
  max-width: 50%;
}

a {
  text-decoration: none;
  color: #753ebd;
}

a:hover {
  border-bottom: 1px solid;
}

#logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
