* {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
}
.row.center-x {justify-content: center;}
.row.center-y {align-items: center;}

.column {
  display: flex;
  flex-direction: column;
}
.column.center-x {align-items: center;}
.column.center-y {justify-content: center;}

.fill-x {width: 100%;}
.fill-y {height: 100%;}
.fill-xy {
  width: 100%;
  height: 100%;
}

.fit-x {width: fit-content;}
.fit-y {height: fit-content;}
.fit-xy {
  width: fit-content;
  height: fit-content;
}

.wrap {flex-wrap: wrap;}

.row.space-around {justify-content: space-around;}
.row.space-between {justify-content: space-between;}
.row.space-evenly {justify-content: space-evenly;}

/* flex items */
.grow1 {flex-grow: 1;}
.grow2 {flex-grow: 2;}
.grow3 {flex-grow: 3;}
.grow4 {flex-grow: 4;}
.grow5 {flex-grow: 5;}

/* text-align */
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}

/* colors */
.red {color: #CF000F;}
.orange {color: #EB6B56;}
.yellow {color: #FFC153;}
.green {color: #27AE60;}
.blue {color: #47B39D;}
.violet {color: #462446;}
.black {color: #000000;}
.white {color: #ffffff;}

.bg-red {background-color: #CF000F;}
.bg-orange {background-color: #EB6B56;}
.bg-yellow {background-color: #FFC153;}
.bg-green {background-color: #27AE60;}
.bg-blue {background-color: #47B39D;}
.bg-violet {background-color: #462446;}
.bg-black {background-color: #000000;}
.bg-white {background-color: #ffffff;}

/* buttons */
.btn {
  border: none;
  transition: all 0.75s ease;
  outline: none;
}
.rounded {border-radius: 3px;}

/* inputs */
.input {
  border: 1px solid #CCCCCC;
  transition: all 0.25s ease;
  padding: 0.25em;
}
.input:focus {
  outline: none;
  box-shadow: 0 0 0.5pt 0.5pt #CCCCCC;
}

/* margin */
.m1 {margin: 1em;}
.m2 {margin: 3em;}
.m3 {margin: 3em;}

/* padding */
.p1 {padding: 1em;}
.p2 {padding: 3em;}
.p3 {padding: 3em;}
